<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Clasificaci&oacute;n</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<style>
* {
	text-align: center;
}

p {
	text-align: center;
}

#tabla {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
</style>
</head>
<body>
<form th:action="@{/final}" method="post">
	<div class="jumbotron">
		<h1
			th:text="${nombrejugador} + ', &iexcl;has obtenido ' + ${puntuacionjugador} + ' puntos!'"></h1>
		<div th:if="${puntuacionjugador <= 5}">
			<h1 class="display-3" th:text="Pinche"></h1>
			<img
				style="height: 200px; width: auto; display: block; margin: auto;"
				th:src="@{/images/pinche.jpg}" alt="imagen"> <br />
			<p class="lead">Bueno, &iexcl;por alg&uacute;n sitio hay que
				empezar! No te desanimes, que muy pronto mejorar&aacute;s. Poco a
				poco aprender&aacute;s nuevas t&eacute;cnicas y formas de cocinar.</p>
		</div>
		<div th:if="${puntuacionjugador >= 6 && puntuacionjugador <=15}">
			<h1 class="display-3" th:text="Amateur"></h1>
			<img
				style="height: 200px; width: auto; display: block; margin: auto;"
				th:src="@{/images/amateur.jpg}" alt="imagen"> <br />
			<p class="lead">
				&iexcl;Genial! Tus dotes culinarias est&aacute;n <i>in crescendo</i>.
				Poco a poco aprender&aacute;s nuevas t&eacute;cnicas y formas de
				cocinar.
			</p>
		</div>
		<div th:if="${puntuacionjugador >=16 && puntuacionjugador <= 22}">
			<h1 class="display-3" th:text="Cocinillas"></h1>
			<img
				style="height: 200px; width: auto; display: block; margin: auto;"
				th:src="@{/images/cocinillas.jpg}" alt="imagen"> <br />
			<p class="lead">Ya consigues sorprender a amigos y familiares con
				tus experimentos culinarios. &iexcl;Que el aprendizaje no decaiga y
				sigas disfrutando con la cocina!</p>
		</div>
		<div th:if="${puntuacionjugador >= 22 && puntuacionjugador <= 26}">
			<h1 class="display-3" th:text="Gourmet"></h1>
			<img
				style="height: 200px; width: auto; display: block; margin: auto;"
				th:src="@{/images/gourmet.jpg}" alt="imagen"> <br />
			<p class="lead">De aqu&iacute; a tu primera Estrella
				Michel&iacute;n, &iexcl;solo hay un paso! Tu t&eacute;cnica
				culinaria es m&aacute;s que decente y cada d&iacute;a te superas.
				&iexcl;Sigue as&iacute;!</p>
		</div>
		<div th:if="${puntuacionjugador >= 27 && puntuacionjugador <= 31}">
			<h1 class="display-3" th:text="Chef"></h1>
			<img
				style="height: 200px; width: auto; display: block; margin: auto;"
				th:src="@{/images/chef.jpg}" alt="imagen"> <br />
			<p class="lead">
				T&uacute; y la cocina sois como uno solo. Est&aacute;s a la altura
				de los grandes de los fogones. Tus amigos y familiares ya te
				preguntan cu&aacute;ndo podr&aacute;n disfrutar de tu comida en tu
				propio restaurante. <i>Bon appetit!</i>
			</p>
		</div>
		<hr class="my-4">
		<h2>Tabla de clasificaci&oacute;n</h2>
		<br />
		<table class="table table-hover" id="tabla">
			<thead>
				<tr class="table-active">
					<th scope="col">Nombre</th>
					<th scope="col">Puntos</th>
					<th scope="col">Clasificaci&oacute;n</th>
				</tr>
			</thead>
			<tbody>
				<tr class="table-success" th:each="puntuacion, iterStat: ${puntuaciones}" th:if="${iterStat.index >= iterStat.size-5}">
					<td th:text=${puntuacion.nombrejugador}></td>
					<td th:text=${puntuacion.puntuacionjugador}></td>
					<td th:text=${puntuacion.clasificacionjugador}></td>
				</tr>
			</tbody>
		</table>
		</form>
		<form th:action="@{/destroy}" method="post">
			<p class="lead">
				<button class="btn btn-info btn-lg" type="submit">Vuelve a
					intentarlo</button>
			</p>
		</form>
	</div>
</body>
</html>