<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Clasificaci&oacute;n</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<style>
* {
	text-align: center;
}
</style>
</head>
<body>
	<h2>Y el resultado es...</h2>
	<div class="jumbotron">
	<h1 th:text="${contador}"></h1>
		<h1 class="display-3" th:if="${contador} <=5" th:text="Pinche"></h1>
		<h1 class="display-3" th:if="${contador}  <= 15" th:text="Amateur"></h1>
		<h1 class="display-3" th:if="${contador}  <= 22" th:text="Cocinillas"></h1>
		<h1 class="display-3" th:if="${contador}  <= 26" th:text="Gourmet"></h1>
		<h1 class="display-3" th:if="${contador}  <= 30" th:text="Chef"></h1>
		<p class="lead">This is a simple hero unit, a simple
			jumbotron-style component for calling extra attention to featured
			content or information.</p>
		<hr class="my-4">
		<p>It uses utility classes for typography and spacing to space
			content out within the larger container.</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="#" role="button">Learn
				more</a>
		</p>
	</div>
</body>
</html>