<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Pregunta 5</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<style>
* {
	text-align: center;
}
</style>
</head>
<body>
	<form th:action="@{/pregunta5}" method="post">
		<div class="card mb-3">
			<h3 class="card-header">&iquest;Eres un aut&eacute;ntico chef?</h3>
			<div class="card-body">
				<h5 class="card-title">
					&iquest;En qu&eacute; consiste la t&eacute;cnica del <i>confit</i>?
				</h5>
			</div>
			<img
				style="height: 200px; width: auto; display: block; margin: auto;"
				th:src="@{/images/confit.jpeg}" alt="imagen">
			<div class="card-body">
				<div class="form-check">
					<label class="form-check-label"> <input type="radio"
						class="form-check-input" name="pregunta5" id="optionsRadios1"
						value="Nombre t&eacute;cnico de los alimentos caramelizados"> Nombre t&eacute;cnico de los alimentos caramelizados
					</label>
				</div>
				<div class="form-check">
					<label class="form-check-label"> <input type="radio"
						class="form-check-input" name="pregunta5" id="optionsRadios2"
						value="Cocinar alimentos lentamente en az&uacute;car o en grasa"> Cocinar alimentos lentamente en az&uacute;car o en grasa
					</label>
				</div>
				<div class="form-check">
					<label class="form-check-label"> <input type="radio"
						class="form-check-input" name="pregunta5" id="optionsRadios3"
						value="T&eacute;cnica de eliminar el dulzor natural de los alimentos"> T&eacute;cnica de eliminar el dulzor natural de los alimentos
					</label>
				</div>
				<div class="form-check">
					<label class="form-check-label"> <input type="radio"
						class="form-check-input" name="pregunta5" id="optionsRadios4"
						value="Cocinar alimentos sobre una base de patatas troceadas"> Cocinar alimentos sobre una base de patatas troceadas
					</label>
				</div>
			</div>
			<div class="progress">
				<div class="progress-bar progress-bar-striped bg-danger"
					role="progressbar" style="width: 50%" aria-valuenow="100"
					aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Siguiente</button>
	</form>
</body>
</html>